{% extends "../template.html" %}

{% block title %}New password{% endblock %}

{% block main %}
    {% if alert %}
        <div> Alerta: {{ alert }}</div>
    {% endif %}
    <!-- Acá se combinan los los formularios de a cuerdo a como se pidió en el front -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            {{ profile_form.pic.label }}
            {{ profile_form.pic }}
            {{ profile_form.pic.errors }}
        </p>
        <p>
            {{ profile_form.rol.label }}
            {{ profile_form.rol }}
            {{ profile_form.rol.errors }}
        </p>
        <p>
            {{ user_form.username.label }}
            {{ user_form.username }}
            {{ user_form.username.errors }}
        </p>
        <p>
            {{ user_form.password1.label }}
            {{ user_form.password1 }}
            {{ user_form.password1.errors }}
        </p>
        <p>
            {{ user_form.password2.label }}
            {{ user_form.password2 }}
            {{ user_form.password2.errors }}
        </p>
        <p>
            {{ user_form.email.label }}
            {{ user_form.email }}
            {{ user_form.email.errors }}
        </p>
        <p>
            {{ user_form.first_name.label }}
            {{ user_form.first_name }}
            {{ user_form.first_name.errors }}
        </p>
        <p>
            {{ user_form.last_name.label }}
            {{ user_form.last_name }}
            {{ user_form.last_name.errors }}
        </p>
        <p>
            {{ profile_form.id_card.label }}
            {{ profile_form.id_card }}
            {{ profile_form.id_card.errors }}
        </p>
        <p>
            {{ profile_form.telephone.label }}
            {{ profile_form.telephone }}
            {{ profile_form.telephone.errors }}
        </p>
        <p>
            {{ user_form.is_active.label }}
            {{ user_form.is_active }}
            {{ user_form.is_active.errors }}
        </p>
        <p>
            {{ user_form.is_superuser.label }}
            {{ user_form.is_superuser }}
            {{ user_form.is_superuser.errors }}
        </p>
        <div id="buttons">
            <button type="submit" value="Update">Enviar</button>
            <button type="reset" value="Cancel">Cancelar</button>
        </div>
    </form>
{% endblock %}