{% extends "../template.html" %}

{% block title %}New password{% endblock %}

{% block main %} 

<div class="card" style="background-color: #fff">
<div class="card-body">
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
        	{% if form.name.value %}
        	<h1>Actualizar Rol {{form.name.value}}</h1>
        	{% else %}
        	<h1>Crear Rol</h1>
        	{% endif %}
        	<hr>
        	<form method="POST">
        		{% csrf_token %}
        		{% if form.name.value %}
	        	<input type="hidden" name="rol_id" value="{{form.instance.id}}">
	        	{% endif %}
	    		<div class="form-group">
	    			<label>Nombre:</label>
	    			<input
	    				class="form-control" 
	    				type="text" 
	    				name="name" 
	    				value="{{ form.name.value|default_if_none:'' }}">
	    		</div>
	    		<div class="form-group">
	    			<label>Permisos:</label>
	    			<select 
	    				class="form-control selectpicker" 
	    				name="permissions" 
	    				multiple="true"
	    				data-live-search="true">
		    			{% for permission in form.permissions %}
		    			{{ permission }}
		    			{% endfor %}
	    			</select>
	    		</div>
	    		<div class="form-group">
	    			<button type="submit" class="btn btn-primary">Enviar</button>
	    		</div>
    		</form>
        </div>

        <div class="col-12 col-md-6">
			<h1>Roles</h1>
			<hr>
			<div>
				<p>
					{% csrf_token %}
					<label>Buscar: </label>
					{% if all_data.data.search_text != None %}
					<input type="text" name="search" id="search_rol" value="{{ all_data.data.search_text }}">
					{% else %}
					<input type="text" name="search" id="search_rol">
					{% endif %}
				</p>
			</div>
			<table class="table table-bordered" id="table-roles-list">
		        <thead>
		            <tr>
		                <th>id</th>
		                <th>Nombre</th>
		                <th>Opciones</th>
		            </tr>
		        </thead>
		        <tbody>
		            {% if all_data.data.rows %}
		                {% for rol in all_data.data.rows %}
		                <tr id="table-rows">
		                    <td>{{ rol.id }}</td>
		                    <td>{{ rol.name }}</td>
		                    <td>
	                        	<a href="/mainapp/roles/edit/{{ rol.id }}" class="btn btn-primary btn-sm">
	                        		<i class="fas fa-edit"></i>
	                        	</a>
	                            <button 
	                            	class="btn btn-danger btn-sm" 
	                            	onclick="deleteRol( '{{ rol.id }}', '{{ rol.name }}' )">
	                            	<i class="fas fa-trash-alt"></i>
	                            </button>
		                    </td>
		                </tr>
		                {% endfor %}
		            {% endif %}
		        </tbody>
		    </table>
		    {% if all_data.data.pag_links.next_url != None or all_data.data.pag_links.previous_url != None %}
		    <ul class="pagination" id="ul-pagination">
		    	{% if all_data.data.pag_links.previous_url != None %}
		    	<li><a href="{{ all_data.data.pag_links.previous_url }}">&laquo;</a></li>
		    	{% else %}
		    	<li class="disabled"><span>&laquo;</span></li>
		    	{% endif %}
		    	{% for link in all_data.data.pag_links.page_links %}
		    	{% if link.2 %}
		    	<li class="active"><span>{{ link.1 }} <span class="sr-only">(current)</span></span></li>
		    	{% else %}
		    	<li><a href="{{ link.0 }}">{{ link.1 }}</a></li>
		    	{% endif %}
		    	{% endfor %}
		    	{% if all_data.data.pag_links.next_url != None %}
		    	<li><a href="{{ all_data.data.pag_links.next_url }}">&raquo;</a></li>
		    	{% else %}
		    	<li class="disabled"><span>&raquo;</span></li>
		    	{% endif %}
		    </ul>
		    {% endif %}
		</div>
    </div>
</div>
</div>
</div>

{% if form.errors %}
    <!-- Error messaging -->
    <div id="errors">
        <div class="inner">
            <p>There were some errors in the information you entered. Please correct the following:</p>
            {{ form.non_field_errors }}
            <ul>
                {% for field in form %}
                    {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- /Error messaging -->
{% endif %}

<!-- Modal para eliminar rol -->
<div class="modal" tabindex="-1" role="dialog"  aria-hidden="true" id="modal-delete-rol">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Confirmation</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div> <p id="delete_rol_confirm"></p></div>
				<form method="post" action="{% url 'destroy_rol' %}" id="form-delete-rol">
					{% csrf_token %}
					<input type="hidden" name="rol_id" value="">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
				<button type="submit" class="btn btn-danger" form="form-delete-rol">Confirmar</button>
			</div>
		</div>
	</div>
</div>
<!-- /Modal para eliminar rol -->

{% for rol in rr %}
	{{rol.permissions.all}} <br>
{% endfor %}

{% endblock %}


{% block myjs %}
	<script type="text/javascript">
	    $('.selectpicker').selectpicker({
	        style: 'btn-secondary',
	        size: 4,
	        noneSelectedText: 'Seleccione',
	    });

	    {% if form1.name.errors or form1.description.errors %}
			$("#modal-edit-rol").modal("show");
		{% endif %}

		$(function () {
			$('#search_rol').keyup(function () {
				$.ajax({
					url: '/mainapp/roles/?from=search_input&search_text='+$('#search_rol').val(),
					dataType: "json",
					success : function (data) {
		                //console.log(data);
		                build_rows(data["rows"]);
		                buid_pagination(data['pag_links'])
		            }
	    		});
			});
		});

		function buid_pagination(pag_links) {
			$( "#ul-pagination" ).empty();
			var links = pag_links["page_links"];
			var previous = pag_links["previous_url"];
			var next = pag_links["next_url"];
			var html = "";

			if(links.length > 1){
				if(previous != null){
					previous = previous.replace("from=search_input&", "");
					html += '<li><a href='+previous+'>&laquo;</a></li>';
				}else{
					html += '<li class="disabled"><span>&laquo;</span></li>';
				}

				for(var i=0; i<links.length; i++){
					if(links[i][2]){
						html += '<li class="active"><span>'+links[i][1]+' <span class="sr-only">(current)</span></span></li>';
					}else{
						var link = links[i][0];
						link = link.replace("from=search_input&", "");
						html += '<li><a href='+link+'><span>'+ links[i][1] +'</span></a></li>';
					}
				}

				if(next != null){
					next = next.replace("from=search_input&", "");
					html += '<li><a href='+next+'>&raquo;</a></li>';
				}else{
					html += '<li class="disabled"><span>&raquo;</span></li>';
				}
			}
			$( "#ul-pagination" ).append(html);
		}

		function build_rows(objects) {
			var html;
			$("#table-roles-list > tbody").empty();
			for(var i=0; i<objects.length; i++) {
				html = "";
				html += "<tr id='table-rows'>";
				html += "<td>" + objects[i].id + "</td>";
				html += "<td>" + objects[i].name + "</td>";
				html += "<td>"+
						"<button class='btn btn-primary btn-sm'"+
							"onclick=\"editRol('" + objects[i].id + "')\">"+
							"<i class='fas fa-edit'></i>"+
						"</button> "+
						"<button "+
							"class='btn btn-danger btn-sm'"+
							"onclick=\"deleteRol('" + objects[i].id + "','" + objects[i].name + "')\">"+
							"<i class='fas fa-trash-alt'></i>"+
						"</button>"+
						"</td>";

				html += "</tr>";
				$( "#table-roles-list > tbody" ).append(html);
			}
		}

		function deleteRol(id, name){
			$("input[name=rol_id]").val(id);
			$("#delete_rol_confirm").text("Desea eliminar el rol: "+name);
			$("#modal-delete-rol").modal("show");
		}
	</script>
{% endblock %}