{% extends "../template.html" %}

{% block title %}New password{% endblock %}

{% block main %}
<div class="card" style="background-color: #fff">
  <div class="card-body">
<div class="row">
	<div class="col-12 col-md-6">
		<h1>Agregar Publicidad</h1>
		<hr>
		<form method="post" enctype="multipart/form-data" id="crear-publicidad">
        	{% csrf_token %}

			<div class="form-group">
	            <label>Nombre:</label>
	            <input 
	                type="text" 
	                name="nombre" 
	                class="form-control {% if form.nombre.errors %} is-invalid {% endif %}" 
	                value="{{ form.nombre.value|default_if_none:'' }}">
	            <span class="invalid-feedback" role="alert">
	                <strong>{{ form.nombre.errors }}</strong>
	            </span>
	        </div>

            <div class="form-group">
                <label>Imagen</label>

                <input 
                    type="file" 
                    name="imagen" 
                    class="form-control {% if form.imagen.errors %} is-invalid {% endif %}">

                <span class="invalid-feedback" role="alert">

                    <strong>{{ form.imagen.errors }}</strong>
                </span>            
            </div>	 
		
	        <div class="form-group">
                <button type="submit" class="btn btn-primary">Enviar</button>
               
            </div>
	    </form>
	</div>

        <div class="col-12 col-md-6">
			<h1>Publicidad</h1>
			<hr>
			<div>
				<p>
					{% csrf_token %}
					<label>Buscar: </label>
					{% if all_data.data.search_text != None %}
					<input type="text" name="search" id="search_pub" value="{{ all_data.data.search_text }}">
					{% else %}
					<input type="text" name="search" id="search_pub">
					{% endif %}
				</p>
			</div>
			<table class="table table-bordered" id="table-pub-list">
		        <thead>
		            <tr>
		                <th>id</th>
		                <th>Nombre</th>
		            </tr>
		        </thead>
		        <tbody>
		            {% if all_data.data.rows %}
		                {% for nombre in all_data.data.rows %}
		                <tr id="table-rows">
		                    <td>{{ nombre.id }}</td>
		                    <td>{{ nombre.nombre }}</td>		                   
		                    <td>
	                            <button 
	                            	class="btn btn-danger btn-sm" 
	                            	onclick="deletePublicidad( '{{ nombre.id }}', '{{ nombre.nombre }}' )">
	                            	<i class="fas fa-trash-alt"></i>
	                            </button>
	                        
		                    </td>
		  		           </tr>
		                {% endfor %}
		            {% endif %}
		        </tbody>
		    </table>
		    
		    {% if all_data.data.pag_links.next_url != None or all_data.data.pag_links.previous_url != None %}
		    <ul class="pagination" id="ul-pagination">
		    	{% if all_data.data.pag_links.previous_url != None %}
		    	<li><a href="{{ all_data.data.pag_links.previous_url }}">&laquo;</a></li>
		    	{% else %}
		    	<li class="disabled"><span>&laquo;</span></li>
		    	{% endif %}
		    	{% for link in all_data.data.pag_links.page_links %}
		    	{% if link.2 %}
		    	<li class="active"><span>{{ link.1 }} <span class="sr-only">(current)</span></span></li>
		    	{% else %}
		    	<li><a href="{{ link.0 }}">{{ link.1 }}</a></li>
		    	{% endif %}
		    	{% endfor %}
		    	{% if all_data.data.pag_links.next_url != None %}
		    	<li><a href="{{ all_data.data.pag_links.next_url }}">&raquo;</a></li>
		    	{% else %}
		    	<li class="disabled"><span>&raquo;</span></li>
		    	{% endif %}
		    </ul>
		    {% endif %}
		
		</div>

</div>
</div>
</div>



<!-- Modal para eliminar publicidad-->
<div class="modal" tabindex="-1" role="dialog"  aria-hidden="true" id="modal-delete-publicidad">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Confirmation</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div> <p id="delete_publicidad_confirm"></p></div>
				<form method="post" action="{% url 'destroy_publicidad' %}" id="form-delete-publicidad">
					{% csrf_token %}
					<input type="hidden" name="publicidad_id" value="">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
				<button type="submit" class="btn btn-danger" form="form-delete-publicidad">Confirmar</button>
			</div>
		</div>
	</div>
</div>
<!-- /Modal para eliminar location -->
{% endblock %}


{% block myjs %}
<script type="text/javascript">

	$(function () {
		$('#search_pub').keyup(function () {
			$.ajax({
				url: '/mainapp/publicidad/?from=search_input&search_text='+$('#search_pub').val(),
				dataType: "json",
				success : function (data) {
	                console.log(data);
	                build_rows(data["rows"]);
	                buid_pagination(data['pag_links'])
	            }
    		});
		});
	});

	function buid_pagination(pag_links) {
		$( "#ul-pagination" ).empty();
		var links = pag_links["page_links"];
		var previous = pag_links["previous_url"];
		var next = pag_links["next_url"];
		var html = "";

		if(links.length > 1){
			if(previous != null){
				previous = previous.replace("from=search_input&", "");
				html += '<li><a href='+previous+'>&laquo;</a></li>';
			}else{
				html += '<li class="disabled"><span>&laquo;</span></li>';
			}

			for(var i=0; i<links.length; i++){
				if(links[i][2]){
					html += '<li class="active"><span>'+links[i][1]+' <span class="sr-only">(current)</span></span></li>';
				}else{
					var link = links[i][0];
					link = link.replace("from=search_input&", "");
					html += '<li><a href='+link+'><span>'+ links[i][1] +'</span></a></li>';
				}
			}

			if(next != null){
				next = next.replace("from=search_input&", "");
				html += '<li><a href='+next+'>&raquo;</a></li>';
			}else{
				html += '<li class="disabled"><span>&raquo;</span></li>';
			}
		}
		$( "#ul-pagination" ).append(html);
	}

	function build_rows(objects) {
		var html;
		$("#table-pub-list > tbody").empty();
		for(var i=0; i<objects.length; i++) {
			html = "";
			html += "<tr id='table-rows'>";
			html += "<td>" + objects[i].id + "</td>";
			html += "<td>" + objects[i].nombre + "</td>";
			html += "<td>"+					
					"<button "+
						"class='btn btn-danger btn-sm'"+
						"onclick=\"deletePublicidad('" + objects[i].id + "','" + objects[i].nombre + "')\">"+
						"<i class='fas fa-trash-alt'></i>"+
					"</button>"+
					"</td>";

			html += "</tr>";
			$( "#table-pub-list > tbody" ).append(html);
		}
	}



	function deletePublicidad(id, name){
		$("input[name=publicidad_id]").val(id);
		$("#delete_publicidad_confirm").text("Desea eliminar la imagen de publicidad: "+name);
		$("#modal-delete-publicidad").modal("show");
	}
</script>
{% endblock %}