{% extends "../template.html" %}

{% block title %}Atención al cliente{% endblock %}

{% block main %}


<div class="container">
	<div class="row">
		<div class="card col-sm-3" style="margin-left: 2rem" >
			  <div class="card-body">
			    <h1 class="card-title" style="text-align: center; font-size: 1.5rem">Ventanilla</h1>
			    <h6 class="card-subtitle mb-2 text-muted" style="text-align: center;">Número de ventanilla</h6>
			    <h1 class="display-1" style="text-align: center;">2</h1>
			    <center><a href="#" class="card-link" >Tipo de turno</a></center>
			  </div>
			</div>


			<div class="card col-sm-8" style="margin-left: 1rem" >
			  <div class="card-header">
			    Turno Actual
			  </div>
			  <div class="card-body">
			    <table class="table table-borderless">
				  <thead>
				    <tr>
				      <th scope="col">Turno</th>
				      <th scope="col">Servicio</th>
				      <th scope="col">Cliente</th>
				      <th scope="col">Identificación</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <th scope="row"><h1 class="display-2">C05</h1></th>
				      <td>Sacar Plata</td>
				      <td>Otto Nule</td>
				      <td>1143844395</td>
				    </tr>
				  </tbody>
				</table>
			  </div>
			</div>

			
	</div>
	<div  style="text-align: center; margin-top: 8rem;">
		<div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
		  <button type="button" class="btn btn-secondary" style="font-size: 1.5rem;"><i class="fa fa-bullhorn" style="color: #751AFF"></i>Llamar Nuevamente</button>
		  <button type="button" class="btn btn-secondary" style="font-size: 1.5rem;"><i class="fas fa-play" style="color: #04befe"></i>Iniciar Atención</button>
		  <button type="button" class="btn btn-secondary" style="font-size: 1.5rem;"><i class="fas fa-stop" style="color: #FF0017"></i>Terminar Turno</button>
		</div>
		
	</div>

	<div class="container-fluid" style="margin-top: 5rem;"  >
		<h2 for="next">Siguiente:</h2>
		<div class="container" style="background-color:#dee2e6; padding-left: 0">
			<ul class="list-group list-group-horizontal" id="next_list" style="flex-direction:row; ">
				<li class="list-group-item" style="background-color: transparent;"><span class="btn btn-secondary" id="next" style="font-size: 3rem; color: #FF0017;" ><i class="fas fa-forward"></i></i></span></h1></li>
			  	<li class="list-group-item" style="background-color: transparent;"><span style="font-size: 3rem; color: #FF0017;" >C06</span></h1></li>
			  	<li class="list-group-item" style="background-color: transparent;border: none;"><span style="font-size: 2rem; color: #04befe;">C07</span></li>
			  	<li class="list-group-item" style="background-color: transparent;border: none;"><span style="font-size: 2rem; color: #04befe;">C08</span></li>
			  	<li class="list-group-item" style="background-color: transparent;border: none;"><span style="font-size: 2rem; color: #04befe;">C09</span></li>
			</ul>
			
		</div>
	</div>

</div>


{% endblock %}
{% block myjs %}

<script>
$(function(){

$('#next').on('click',function(){
	$('ul#next_list li:eq(1) span').html($('ul#next_list li:eq(2)').text());
	$('ul#next_list li:eq(2)').remove();

});


});


</script>


{% endblock %}